name: Run Python Script

on:
  schedule:
    - cron: '35 19 * * 1-5' # Runs monday till friday 
  push:
    branches:
      - main
      - test
#
jobs:
  invest_sma_alert:
    runs-on: ubuntu-latest
    env:
      INVEST_LOGFILE : "history.log"
      FINANCIALMODELINGPREP_APIKEY: ${{ secrets.FINANCIALMODELINGPREP_APIKEY }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # You can specify the Python version here
      - name: list files
        run: ls -la
      - name: cat data_invest.json
        run: cat data_invest.json
      - name: pip install requirements.txt
        run: pip install -r requirements.txt
      - name: Set up Google credentials
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}" > google-credentials.json
        shell: bash
      - name: Set up Google credentials
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}" > google-credentials.json
      - name: Print current time
        run: date -u
      - name: Run Python script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: google-credentials.json
        run: python invest_ma150_alert.py  # Specify the path to your Python script here

      - name: Configure git
        run: |
          git config user.name "shlomokoren"
          git config user.email "shlomo.koren@gmail.com"

      - name: Commit changes
        run: |
          git add data_invest.json  # Add the modified file
          git commit -m "Update file during pipeline run" || echo "No changes to commit"

      - name: Push changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}  # Use your PAT stored as a secret
        run: |
          git push https://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@github.com/${{ github.repository }} HEAD:${{ github.ref_name }}
