name: Run Python Script

on:
  schedule:
    # Run at 13:30 UTC (9:30 AM ET) every weekday (Mon-Fri)
    - cron: '30 16 * * 1-5'
  push:
    branches:
      - main
      - test
jobs:
  invest_sma_alert:
    runs-on: ubuntu-latest
    env:
      INVEST_LOGFILE: "history.log"
      FINANCIALMODELINGPREP_APIKEY: ${{ secrets.FINANCIALMODELINGPREP_APIKEY }}
      TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
      TELEGRAM_CHAT_ID: ${{ secrets.TELEGRAM_CHAT_ID }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'  # You can specify the Python version here
      - name: list files
        run: ls -la
      - name: cat data_invest.json
        run: cat data_invest.json
      - name: pip install requirements.txt
        run: pip install -r requirements.txt
      - name: Set up Google credentials
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}" > google-credentials.json
        shell: bash
      - name: Set up Google credentials
        run: echo "${{ secrets.GOOGLE_APPLICATION_CREDENTIALS }}" > google-credentials.json
      - name: Print current time
        run: date -u
      - name: Run Python script
        env:
          GOOGLE_APPLICATION_CREDENTIALS: google-credentials.json
        run: python invest_moving_average_rule_handle.py  # Specify the path to your Python script here
    # This will mark the job as failed if any step fails
    continue-on-error: false

  notify-on-failure:
    needs: invest_sma_alert
    if: failure()  # Only run if the previous job failed
    runs-on: ubuntu-latest
    steps:
      - name: Send failure notification email
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.SMTP_USERNAME }}
          password: ${{ secrets.SMTP_PASSWORD }}
          subject: 'GitHub Action Failed: invest_sma_alert'
          to: shlomo.koren@gmail.com
          from: GitHub Action <your_email@example.com>
          body: |
            The GitHub Actions job 'invest_sma_alert' has failed.
            Please check the logs at: https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }}
